<div class="jumbotron" style="margin-bottom:0">
  <h1>Student Grades</h1>
  <h6>Modern Education Integration</h6>
</div>
<app-student-navbar></app-student-navbar>
<div>

  <p>
    Select the class in which you want to see your grading sheet!
  </p>
  <select id = "classSelection">
  <!---Cannot be populated because Logging in does not work-->
  <!--Get all the courses the student is currently in-->
  <!--Create a selectList based on that.d-->
  </select>

  
  <h3>
    <Table id="GradeSheet">
  <!--Cannot be populated because Logging in does not work-->
    </Table>
  </h3>
  
  
  </div>>
  