<div class="jumbotron" style="margin-bottom:0">
  <h1>Course Registration</h1>
  <h6>Modern Education Integration</h6>
</div>
<app-student-navbar></app-student-navbar>

<h1>Course Offerings</h1>
<h3>Course Offering Add/Drop</h3>

<div class="form-group">
  <label for="sel1">Available Courses:</label>
  <select class="form-control" id="sel1">
    <option *ngFor="let course of availableCourses">{{course.name}} id: {{course.id}}</option>
  </select>
</div>

<h3>Add </h3>

<div>
<label for="age">Course ID: </label>
  <input type="number" id="courseId" name="courseId" [(ngModel)]=courseModel.courseId>
  

      <label for="username">Student ID: </label>
      <input type="text" id="studentId" name="studentId" [(ngModel)]=courseModel.studentId>
  
  <button (click)="addNewCourse">add</button>
</div>